{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<h1>Reset Password</h1>
<div class="form-container">
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div>
            <label for="password">New Password:</label><br>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="confirm_password">Confirm New Password:</label><br>
            <input type="password" id="confirm_password" name="confirm_password" required>
        </div>
        <div>
            <input type="submit" value="Reset Password">
        </div>
    </form>
</div>
<script>
    const passwordField = document.getElementById('password');
    const confirmPasswordField = document.getElementById('confirm_password');
    const form = document.querySelector('form');

    form.addEventListener('submit', (event) => {
        if (passwordField.value !== confirmPasswordField.value) {
            alert('Passwords do not match!');
            event.preventDefault(); // Prevent form submission
        }
    });
</script>
{% endblock %}